.message-header {
    font-weight: bold;
    color: whitesmoke;
    font-size: larger;
}

.users-message {
    color: whitesmoke;
}

.profile-pic-msg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.edit-message-form-modal{
    width: 400px;
    height: 160px;
}
.edit-message-form-modal textarea {
    width: 90%;
    font-size: 20px;
}
.edit-message-form-modal button{
    padding: 10px 30px;
    width: 95%;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.edit-message-form-modal button:hover{
    background-color: brown;
    color: aliceblue;
}
.edit-messsage-send-button {
    display: flex;
    justify-content: center;

}
.message-textarea {
    resize: none;
    background-color: transparent;
}

.send-bttn {
    position: relative;
    right: 70px;
    bottom: 25px;
}

.delete-message-modal{
    width: 400px;
    height: 200px;
    background-color: rgb(49, 48, 48);
    color: aliceblue;
    text-align: center;
}

.delete-message-modal h2{
    margin: 0;
    padding-top: 10px;
}
.delete-message-modal-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0px 20px;
}

.yes-button-delete{
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
}
.yes-button-delete:hover{
    background-color: rgb(112, 128, 243);
}
.no-button-delete{
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
}
.no-button-delete:hover{
    background-color: rgb(243, 116, 112);
}
