.reaction-form-modal {
    text-align: center;
    width: 240px;
    background-color: rgb(82, 79, 79);
    padding-bottom: 10px;
    cursor: pointer;

}
.reaction-form-modal h2 {
    color: rgb(235, 234, 234);
    margin: 0;
    padding: 10px 10px;
}
.actuall-reaction {
    background: transparent;
    color: whitesmoke;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    border: 1px transparent solid;
    background: #2f2e2f;
    margin: 1px;
}

.actuall-reaction:hover {
    border: 1px #939596 solid;
    background-color: #1d1c1d;
}
