#channels-container {
    display: flex;
    flex-direction: column;
}

.create-channel-container {
    display:  flex;
    justify-content: space-between;
}
.create-channel-button {
    margin-top: 20px;

}

.channel-tag {
    background: transparent;
    height: 50px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgb(3, 2, 2);
    cursor: pointer;
}

.channel-tag::selection {
    background-color: red;
    color: white
}

#dms-container {
    display: flex;
    flex-direction: column;
}
