header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.features-li {
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 20px;
}

section h1 {
    font-size: 50px;
}

.hero-h2 {
    font-size: 50px;
    color: sandybrown;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Hero section styles */
#hero {
    background-image: url("./images/slack-back.png");
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 150px 20px;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

/* Button style */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d1d2d3;
    color: #0056B3;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    width: 130px;
}

.btn:hover {
    background-color: #0056B3;
    color: #D9E0E7
}

#about-blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

.dev-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.github-link {
    text-decoration: none;
    color: #d1d2d3;
}

.github-link:hover {
    text-decoration: underline;

}

.dev {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-dev-text {
    font-size: smaller;
    padding: 0 25px;
    text-align: center;
}

.fa-arrow-up-right-from-square {
    font-size: 0.7rem;
}
