/* TODO Add site wide styles */
body {
    background: #1d1c1d;
    color: #d1d2d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300
}

.home-page-main {
    display: grid;
    grid-template-columns: 0.5fr 3fr auto;
}

.threads-container {

}

body::-webkit-scrollbar-track {
    color: transparent
}
