.form-error {
    color: red;
    font-weight: bold;
    width: 80%
}

.signup-form-error {
    color: red;
    font-weight: bold;
    width: 80%;
    font-size: 12px;
}
.signup-form-modal {
    width: 400px;
    height: auto;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
    font-size: 20px;
}

.signup-form-modal h1 {
    color: whitesmoke;
    margin-bottom: 5px;
    padding-bottom: none;
}

.signup-form-prop {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5px;
    /* height: 250px; */
    /* width: 420px; */
    margin-bottom:10px ;
}
.signup-form-prop label{
    /* font-weight: bold; */
    /* height: 200px; */

}
.signup-form-prop input{
    /* font-weight: bold; */
    border-radius: 5px;
    font-size: 25px;
    margin-bottom: 10px;
    background-color: #141414;
    color: white;
}
.signup-button {
    width: 100%;
    text-align: center;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}
.signup-button:hover {
    background-color: black;
    color: aliceblue;
}
