.form-error {
    color: red;
    font-weight: bold;
    width: 80%
}

.signup-form-error {
    color: red;
    font-weight: bold;
    width: 80%;
    font-size: 12px;
}

.signup-form-modal {
    width: 400px;
    height: auto;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
    font-size: 20px;
}

.signup-form-modal h1 {
    color: whitesmoke;
    margin-bottom: 5px;
    padding-bottom: none;
}

#sign-up-form {

    width: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5px;
    justify-content: center;
    /* height: 250px; */
    /* width: 420px; */
    margin-bottom: 10px;
}

.sign-up-form-label {
    /* font-weight: bold; */
    /* height: 200px; */

}

#sign-up-form input {
    width: 100%;
    color: whitesmoke;
    background-color: #141414;
    border-radius: 5px;
    padding: 10px;
}

.signup-button {
    width: 106%;
    text-align: center;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    border-radius: 5px;
    background-color: rgb(28, 29, 30);
    color: whitesmoke;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 10px;
    margin-top: 10px;
}

.signup-button:hover {

    background-color: brown;
    
}
