#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {

  border: 1px rgb(250, 250, 250, 0.2) solid;
  position: absolute;
  background-color: #1d1c1d;;
  border-radius: 10px;
  max-height: 80%;
}
