.thread-page {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding-left: 20px;
}

.close-threads-bttn-div {
    align-self: flex-end;

}

.close-threads-bttn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: lightgray;
    font-weight: 900;
    font-size: 1rem;
    height: 40px;
    width: 40px;
}

.close-threads-bttn:hover {
    background-color: rgba(211, 211, 211, 0.067);
    cursor: pointer;
}

.thread-page {
    margin-left: 30px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.threads-container {
    height: 650px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;

}

.threads-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
