.thread-page {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding-left: 20px;
}

.close-threads-bttn-div {
    align-self: flex-end;

}

.close-threads-bttn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: lightgray;
    font-weight: 900;
    font-size: 1rem;
    height: 40px;
    width: 40px;
}

.close-threads-bttn:hover {
    background-color: rgba(211, 211, 211, 0.067);
    cursor: pointer;
}

.thread-page {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

.threads-container {
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    height: 40vh;
    max-height: 40vh
}

.threads-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px 10px 35px
}

.threads-header>h3 {
    margin: 0;
}

.thread-message {
    margin-bottom: 30px;
}

.thread-message-div {
    border-bottom: 1px rgba(209, 210, 211, 0.3) solid
}

.replies-tag {
    position: relative;
    bottom: 17px;
    background-color: #1d1c1d;
    width: fit-content;
    color: rgba(211, 211, 211, 0.362);
    padding: 5px;

}

.names-in-threads {
    font-weight: 500;
}

.time {
    font-weight: normal;
    font-size: 0.7rem;
}

.time:hover {
    text-decoration: underline;
    cursor: pointer;
}

.thread-page .profile-pic-msg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.thread-page .message-textarea {
    height: 90px
}
