.message-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-right: 1px rgba(209, 210, 211, 0.15) solid;
    border-left: 1px rgba(209, 210, 211, 0.15) solid;
}

.message-page-header {
    max-height: 90px;
    padding: 20px 15px;
    border-bottom: 1px rgba(209, 210, 211, 0.15) solid;
}

.channel-info-modal {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: 5px white;
    border-radius: 5px;
    color: #d1d2d3;
    cursor: pointer;
    width: fit-content;
    padding-right: 20px;

}
.messages-container {
    height: 65vh;
    max-height: 65vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
}

.message-input-container {
    height: 25vh;
    max-height: 25vh;
    width: auto;
    display: flex;
    flex-direction: column;
    position: relative
}
